.mainContainer{
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  /* text-align: center; */
  font-size: 50px;
  border: 1px solid black;
  
}

section{
  display: flex;
}
nav{
  /* flex: 1; */
  padding: 30px 60px 20px 20px;
  border: 1px solid black;
} 
article{
  flex: 1;
  border: 1px solid black;
  padding: 20px;
}

li{
  list-style-type: none;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 30px;
  border: 1px solid black;
}